<div class="container">
  <div class="header">
    <h3>Youssef</h3>
    <button (click)="download()">Resume</button>
  </div>
  <div class="firstSection">
    <h1>Youssef Mohammed</h1>
    <h3>Developer and designer</h3>
    <p>
      Freelancer providing services for programming and design content needs.
      Join me down below and let's get cracking!
    </p>
    <div class="socialSection">
      <a href="https://api.whatsapp.com/send?phone=201156349259" target="_blank"
        ><img src="../assets/phone2.png"
      /></a>
      <a
        href="https://www.linkedin.com/in/yousef-mohamed-43a8a014b/"
        target="_blank"
        ><img src="../assets/linkedin.png"
      /></a>
      <a href="https://leetcode.com/joetiger22222/" target="_blank"
        ><img src="../assets/leetcode.png"
      /></a>
      <a href="https://github.com/joetiger2222?tab=repositories" target="_blank"
        ><img src="../assets/github.png"
      /></a>
      
    </div>
    <img src="../assets/me.jpg" />
  </div>
  <div class="servicesSection">
    <div class="services">
      <h1>Services I Offer</h1>
      <p>
        Since the beginning of my journey as a freelance developer and desinger,
        I've done remote work for <label>agencies </label>consulted for
        <label>startups </label>and collaborated with talanted people to create
        digital products for both buisness and consumer use.
      </p>
      <p>
        I offer from a wide range of services. including brand design and
        programming
      </p>
    </div>
    <div class="toolsContainer">
      <div class="singleToolsContainer">
        <img src="../assets/design.png" />
        <h5>Beautiful Designs</h5>
        <p>
          Creating elegant designs suited for your needs following core design
          theory.
        </p>
      </div>
      <div class="singleToolsContainer">
        <img src="../assets/coding.png" />
        <h5>Code your dream project</h5>
        <p>
          Do you have an idea for you next great website? Let's make it a
          reality.
        </p>
      </div>
      <div class="singleToolsContainer">
        <img src="../assets/interview.png" />
        <h5>Consulting</h5>
        <p>
          Are you interested in feedback for your current project? I can give
          you tips and tricks to level it up.
        </p>
      </div>
    </div>
  </div>
  <div class="portoflioSection">
    <div class="services">
      <h1>Portoflio</h1>
      <p>
        I am a dedicated Software Engineer. With a strong passion for
        problem-solving, I have showcased my proficiency in <br /><label
          >HTML, CSS, JavaScript, React JS, Angular, and Data Structures</label
        ><br />
        through a diverse range of projects. My impressive track record includes
        creating interactive web applications, such as a dynamic lyrics website
        and a YouTube clone, reflecting my expertise in API integration,
        responsive design, and clean coding practices.
      </p>
      <div class="projectsContainer">
        <div class="singleProjectsContainer">
          <img src="../assets/resweb.jpeg" />
          <h3>RESWEB</h3>
          <p>
            I designed and developed an innovative research-oriented website
            catering to students, researchers, and administrators. The platform
            facilitates skill enhancement through quizzes, enabling students to
            unlock courses upon successful completion. Researchers gain access
            to a rich repository of research ideas, collaborate through group
            chats, and contribute to projects. Admin privileges encompass
            overseeing users, content management, and course administration for
            an all-encompassing academic experience.
          </p>
          <div class="projectButtonContainer">
            <a
              href="https://github.com/joetiger2222/researcher-website"
              target="_blank"
              ><button>Github Code</button></a
            >
            <a href="https://resweb.netlify.app/" target="_blank"
              ><button>Live Demo</button></a
            >
          </div>
        </div>
        <div class="singleProjectsContainer">
          <img src="../assets/3algny.jpeg" />
          <h3>3ALGNY</h3>
          <p>
            I designed and developed a website that offers a wide range of
            medical services and products that enable users to easily search and
            browse for doctors, reserve appointments, and engage in live chats
            with them. Additionally, the platform provides an extensive database
            of medicines for users to browse, search, and order from the comfort
            of their homes. The website aims to provide a comprehensive and
            convenient solution for users seeking healthcare services and
            products online.
          </p>
          <div class="projectButtonContainer">
            <a href="https://github.com/joetiger2222/Gp" target="_blank"
              ><button>Github Code</button></a
            >
            <a href="https://3algny.netlify.app/" target="_blank"
              ><button>Live Demo</button></a
            >
          </div>
        </div>
        <div class="singleProjectsContainer">
          <img src="../assets/physio.jpeg" />
          <h3>PHYSIO-TIME</h3>
          <p>
            I designed and developed a website for a clinic called Physio Time
            to allow people to communicate with it's doctors through whatsapp or
            get directions to the clinic or reserve appointment , the doctor can
            view all his reserve appointments and cancel or edit on them he can
            also add new days or edit the times that the clinic is avaible on.
            this website is created using angular js
          </p>
          <div class="projectButtonContainer">
            <a
              href="https://github.com/joetiger2222/physio_time"
              target="_blank"
              ><button>Github Code</button></a
            >
            <a href="https://physio-time.vercel.app/" target="_blank"
              ><button>Live Demo</button></a
            >
          </div>
        </div>
        <div class="singleProjectsContainer">
          <img src="../assets/lyrics.jpeg" />
          <h3>LYRICS</h3>
          <p>
            I designed and developed a website to access different songs with
            it's lyrics. this website is created using react js with tailwind
            css , rapid api and and responsive media query to support all screen
            sizes. clean code and solid prinicpals are applied
          </p>
          <div class="projectButtonContainer">
            <a href="https://github.com/joetiger2222/Lyrics" target="_blank"
              ><button>Github Code</button></a
            >
            <a href="https://lyrcis-youssef.netlify.app/" target="_blank"
              ><button>Live Demo</button></a
            >
          </div>
        </div>
        <div class="singleProjectsContainer">
          <img src="../assets/youtube.jpeg" />
          <h3>YOUTUBE-CLONE</h3>
          <p>
            I designed and developed a clone to youtube using react js and rapid
            api with responsive media query and search ability
          </p>
          <div class="projectButtonContainer">
            <a
              href="https://github.com/joetiger2222/youtube-clone"
              target="_blank"
              ><button>Github Code</button></a
            >
            <a href="https://youtube-clone-youssef.netlify.app/" target="_blank"
              ><button>Live Demo</button></a
            >
          </div>
        </div>
        <div class="singleProjectsContainer">
          <img src="../assets/phone.jpeg" />
          <h3>PHONE-REVIEW</h3>
          <p>
            I designed and developed a Phone review website using react js. with
            instant search feature. with responsive media query to fit all
            screen sizes. design patternts and clean code principles are
            applied.
          </p>
          <div class="projectButtonContainer">
            <a
              href="https://github.com/joetiger2222/phone-review-website"
              target="_blank"
              ><button>Github Code</button></a
            >
            <a
              href="https://phonereviewjoe.netlify.app/MainPage"
              target="_blank"
              ><button>Live Demo</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
